.c1{
    width: 400px;
    margin:auto;
    padding:40px;
    border: 5px solid green;
    box-shadow: 15px 35px yellow,55px 85px pink;
}

.c2{
    width: 400px;
    margin: 100px auto;
    padding:40px;
    border: 5px solid green;
    box-shadow: 15px 35px 50px yellow inset;
}
