.c1{
    border: 10px solid red;
    padding: 25px 25px;
    margin: 50px;
    background-color: blue;
    /* outline-style: solid; */
    outline: 6px solid rgb(195, 255, 0);
    outline-offset: 10px;
}