input[type="text"]{
    width:300px;
    margin:20px;
    border-radius: 25px ;
    padding:40px;
}
input[type="button"]{
    color:white;
    background-color: green;
    border-radius: 25px;
    width:120px;
    margin-left:35px;
    display: block;
}
input[type="text"]:focus{
     background-color: green;
}
input[type="text"]:hover{
    background-color:red;
}
.c1{
    background-color: cyan;
    color:red;
    border:5px solid pink;
    margin:20px;
    padding:20px;
    border-radius:25px;
    opacity: 0.8;
}
body{
    background-image: url(download.jpeg);
    background-size: 200px 200px;
    background-repeat: repeat-x;
}