/* h1{
    /* position: fixed; */
    /* position: absolute; */
   /* position: fixed;
    left: 50px;
    top: 50px;
} */

/* h1{
    position: relative;
    left: -50px;
    top: -50px;
} */

h1{
    position: sticky;
    top: 200px;
    left: 50px;   
}